body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cacaca;
  height: 100vh;
}
h2 {
  padding-bottom: 0.5vh;
  padding-top: 1vh;
}
.navbar {
  display: flex;
  justify-content: left;
  background-color: #18534f;
  margin: 0;
}
.navbar a {
  text-decoration: none;
  list-style: none;
  padding: 1em;
  background-color: #226d68;
  margin: 10px;
  color: aliceblue;
  border-radius: 5%;
}
.footerpage {
  margin: 1em;
  background-color: #226d68;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.formregister, .formlogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  border-radius: 44px;
  background: linear-gradient(145deg, #d2d9d8, #f9ffff);
  box-shadow: 8px 8px 16px #5d6060, -8px -8px 16px #ffffff;
}
.formregister input , .formlogin input{
  text-align: left;
  width: 60%;
  margin: 0.5em;
  height: 2.5em;
  font-size: large;
}
.formregister button, .formlogin button{
  text-decoration: none;
  list-style: none;
  font-size: large;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  background-color: #226d68;
  color: aliceblue;
  border-radius: 10%;
}
